<h3> Football Matches of Spanish League </h3>

<h4> Import Pandas </h4>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("FMEL_Dataset.csv")

<h4>Membaca Dataset</h4>

In [3]:
df

,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,1,1970-71,1,1,Atletico de Bilbao,Barcelona,1,1,12/09/1970,21938400
1,2,1970-71,1,1,Las Palmas,Atletico de Madrid,1,1,12/09/1970,21938400
2,3,1970-71,1,1,Real Madrid,Valencia,2,0,12/09/1970,21938400
3,4,1970-71,1,1,Celta de Vigo,Sporting de Gijon,2,0,13/09/1970,22024800
4,5,1970-71,1,1,Elche,Granada,1,1,13/09/1970,22024800
...,...,...,...,...,...,...,...,...,...,...
1994,1995,1973-74,1,1,Real Madrid,Castellon,0,0,01/09/1973,115682400
1995,1996,1973-74,1,1,Valencia,Oviedo,2,1,01/09/1973,115682400
1996,1997,1973-74,1,1,Celta de Vigo,Atletico de Bilbao,2,1,02/09/1973,115768800
1997,1998,1973-74,1,1,Elche,Barcelona,1,0,02/09/1973,115768800
1998,1999,1973-74,1,1,Sporting de Gijon,Atletico de Madrid,0,3,02/09/1973,115768800

<h4>Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.</h4>

In [5]:
df.dtypes

id               int64
season          object
division         int64
round            int64
localTeam       object
visitorTeam     object
localGoals       int64
visitorGoals     int64
date            object
timestamp        int64
dtype: object

In [6]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary_no1 = {
    "total record": totalRecord,
    "Nama Attribute yang ada": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(dictionary_no1)

total record                                                            1999
Nama Attribute yang ada    Index(['id', 'season', 'division', 'round', 'l...
Jumlah Objek                                                               4
Jumlah Angka                                                               6
Jumlah NULL                                                                0
dtype: object

<h4>Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.
Tampilkan Nilai rata-rata dengan fungsi mean()</h4>

In [7]:
df.select_dtypes(include=['int64']).mean()

id              1.000000e+03
division        1.570285e+00
round           1.834267e+01
localGoals      1.519260e+00
visitorGoals    6.488244e-01
timestamp       6.544456e+07
dtype: float64

<h4>Tampilkan Nilai Standar deviasi dengan fungsi std()</h4>

In [8]:
df.select_dtypes(include=['int64']).std()

id              5.772059e+02
division        4.951592e-01
round           1.049277e+01
localGoals      1.234110e+00
visitorGoals    8.033572e-01
timestamp       2.668014e+07
dtype: float64

<h4>Tampilkan Nilai Minimum dengan fungsi min()</h4>

In [9]:
df.select_dtypes(include=['int64']).min()

id                     1
division               1
round                  1
localGoals             0
visitorGoals           0
timestamp       21333600
dtype: int64

<h4>Tampilkan Nilai Maksimum dengan fungsi max()</h4>

In [10]:
df.select_dtypes(include=['int64']).max()

id                   1999
division                2
round                  38
localGoals              7
visitorGoals            5
timestamp       115768800
dtype: int64

<h4>Tampilkan Nilai Q1, Q2, dan Q3 dengan fungsi quantile()</h4>

In [11]:
df.select_dtypes(include=['int64']).quantile([0.25,0.5,0.75])

          id  division  round  localGoals  visitorGoals   timestamp
0.25   500.5       1.0    9.0         1.0           0.0  38962800.0
0.50  1000.0       2.0   18.0         1.0           0.0  66178800.0
0.75  1499.5       2.0   27.0         2.0           1.0  90370800.0

<h4>Menampilkan semua sekaligus diatas dengan fungsi .describe()</h4>

In [12]:
df.describe()

,id,division,round,localGoals,visitorGoals,timestamp
count,1999.000000,1999.000000,1999.000000,1999.00000,1999.000000,1.999000e+03
mean,1000.000000,1.570285,18.342671,1.51926,0.648824,6.544456e+07
std,577.205914,0.495159,10.492771,1.23411,0.803357,2.668014e+07
min,1.000000,1.000000,1.000000,0.00000,0.000000,2.133360e+07
25%,500.500000,1.000000,9.000000,1.00000,0.000000,3.896280e+07
50%,1000.000000,2.000000,18.000000,1.00000,0.000000,6.617880e+07
75%,1499.500000,2.000000,27.000000,2.00000,1.000000,9.037080e+07
max,1999.000000,2.000000,38.000000,7.00000,5.000000,1.157688e+08

<h4>Tampilkan nilai korelasi attribute bertipe angka.</h4>

In [13]:
df.select_dtypes(include=['int64']).corr()

,id,division,round,localGoals,visitorGoals,timestamp
id,1.000000,0.232573,0.216313,-0.002158,0.013945,0.958785
division,0.232573,1.000000,0.127096,0.000036,-0.033543,-0.038840
round,0.216313,0.127096,1.000000,0.003336,-0.036127,0.259010
localGoals,-0.002158,0.000036,0.003336,1.000000,0.062861,-0.003235
visitorGoals,0.013945,-0.033543,-0.036127,0.062861,1.000000,0.020723
timestamp,0.958785,-0.038840,0.259010,-0.003235,0.020723,1.000000

<h4>Rubah nilai salah satu attribute bertipe angka menjadi dari bilangan bulat menjadi bilangan desimal).</h4>

<h5>Metode [errors='ignore']</h5>

In [35]:
df["localGoals"] = df["localGoals"].astype('float64', errors='ignore')
df["localGoals"].dtypes

dtype('float64')

In [36]:
df["round"] = df["round"].astype('int64', errors='ignore')

<h5>Metode float_format</h5>

In [39]:
pd.options.display.float_format = '{:.3f}'.format
df.localGoals.astype('float64')

0      1.000
1      1.000
2      2.000
3      2.000
4      1.000
        ...
1994   0.000
1995   2.000
1996   2.000
1997   1.000
1998   0.000
Name: localGoals, Length: 1999, dtype: float64

<h4>Tampilkan 10 record pertama dari attribute bertipe angka.</h4>

In [40]:
df.select_dtypes(include=['int64']).head(10)

   id  division  round  visitorGoals  timestamp
0   1         1      1             1   21938400
1   2         1      1             1   21938400
2   3         1      1             0   21938400
3   4         1      1             0   22024800
4   5         1      1             1   22024800
5   6         1      1             1   22024800
6   7         1      1             0   22024800
7   8         1      1             0   22024800
8   9         1      2             1   22543200
9  10         1      2             0   22629600

<h4>Simpan dataset dengan attribute bertipe angka ke dalam file CSV.</h4>

In [41]:
df.select_dtypes(include=['int64']).to_csv("Atribut_Bertipe_Angka_FMEL.csv", index=False)