### POSTTEST 5 SUPERVISED LEARNING

### Import Package yang di gunakan

In [1]:
#import package matplotlib
import matplotlib.pyplot as plt
#import package seaborn
import seaborn as sns
#import package pandas
import pandas as pd
#import package numpy
import numpy as np
# untuk data cleaning
from sklearn.impute import SimpleImputer #substitusi nilai
# untuk melakukan classifikasi KNN
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# untuk melakukan classifikasi naive bayes
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

### Membaca dataset 'Womens Clothing E-Commerce Reviews.csv'

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

### Melihat informasi yang terdapat di dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

### Melihat jumlah record yang terdapat pada setiap atribut serta type data nya

In [4]:
df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

### Melihat panjang dari dataset

In [5]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 23486 baris

In [6]:
df2 = pd.read_csv('bank-additional-full.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

# DATA CLEANING

In [7]:
dataset_ns = df.copy()

In [8]:
imputer_mean = SimpleImputer(strategy = 'mean')
imputer_median = SimpleImputer(strategy= 'median')
imputer_modus = SimpleImputer(strategy = 'most_frequent')

### Modus

In [9]:
dataset_ns['Title'] = imputer_modus.fit_transform(dataset_ns[['Title']])

dataset_ns.isna().sum()

Unnamed: 0                   0
Clothing ID                  0
Age                          0
Title                        0
Review Text                845
Rating                       0
Recommended IND              0
Positive Feedback Count      0
Division Name               14
Department Name             14
Class Name                  14
dtype: int64

### Mean

In [10]:
dataset_ns['Age'] = imputer_mean.fit_transform(dataset_ns[['Age']])

dataset_ns.isna().sum()

Unnamed: 0                   0
Clothing ID                  0
Age                          0
Title                        0
Review Text                845
Rating                       0
Recommended IND              0
Positive Feedback Count      0
Division Name               14
Department Name             14
Class Name                  14
dtype: int64

### Menghapus Record

In [11]:
dataset_ns.dropna(inplace=True)

dataset_ns.isna().sum()

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

In [12]:
len(dataset_ns)

22628

### Menghapus Data Duplikat

In [13]:
dataset_duplicate = df2.copy()

dataset_duplicate.duplicated().sum()

12

In [14]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

# KNN CLASSIFICATION
### Menggunakan Dataset yang sudah di cleaning

In [15]:
dataset_ns.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33.0,Love it!,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34.0,Love it!,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50.0,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47.0,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [16]:
dataset_ns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22628 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               22628 non-null  int64
 1   Clothing ID              22628 non-null  int64
 2   Age                      22628 non-null  float64
 3   Title                    22628 non-null  object
 4   Review Text              22628 non-null  object
 5   Rating                   22628 non-null  int64
 6   Recommended IND          22628 non-null  int64
 7   Positive Feedback Count  22628 non-null  int64
 8   Division Name            22628 non-null  object
 9   Department Name          22628 non-null  object
 10  Class Name               22628 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 2.1+ MB

In [17]:
x = dataset_ns[['Age','Clothing ID','Recommended IND','Positive Feedback Count']]
y = dataset_ns['Class Name']

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [19]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [20]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [21]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [22]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['Blouses' 'Fine gauge' 'Knits' ... 'Lounge' 'Sweaters' 'Fine gauge']
Class: 4144        Blouses
1820     Fine gauge
2258          Knits
7898          Knits
14215         Knits
            ...
21499       Dresses
20376        Lounge
17458        Lounge
16148      Sweaters
195      Fine gauge
Name: Class Name, Length: 4526, dtype: object
akurasi: 0.9500662836942112

In [23]:
classifier.score(x_test,y_test)

0.9500662836942112

# NAIVE BAYES CLASSIFICATION

In [24]:
x = dataset_ns[['Age','Clothing ID','Recommended IND','Positive Feedback Count']]
y = dataset_ns['Class Name']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [26]:
classifier = GaussianNB()

In [27]:
classifier.fit(x_train,y_train)

GaussianNB()

In [28]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [29]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['Dresses']
Class: 23485    Dresses
Name: Class Name, dtype: object
akurasi: 1.0

In [30]:
classifier.score(x_test,y_test)

1.0